<footer class="footer">
  <div class="container">
      <div class="row">
          <!-- Contact List -->
          <div class="col col-lg-4">
            <h4>Follow Me:</h4>
            <ul class="list-inline">
               <li class="list-inline-item">{% include icon-github.html username=site.github_username %}</li>
               <li class="list-inline-item">{% include icon-twitter.html username=site.twitter_username %}</li>
            </ul>
          </div>
        </div>
      </div>
</footer>