<footer class="footer">

   
    <div class="container">
      <div class="row">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
      </div>
    
      <div class="row">
          <!-- Contact List -->
          <div class="col col-lg-10">
            <ul class="contact-list">
              <li>
                {% if site.author %}
                  Author: {{ site.author | escape }}
                {% else %}
                  {{ site.title | escape }}
                {% endif %}
                </li>
                {% if site.email %}
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                {% endif %}
                <li><p>{{ site.description | escape }}</p></li>
              </ul>
            
          </div>
          <!-- SNS -->
          <div class="col col-lg-2">
             <ul class="social-media-list">
               <li>
                 Connect to me:
               </li>
                <li>
                {% if site.github_username %}
                
                  {% include icon-github.html username=site.github_username %}
                
                {% endif %}
      
                {% if site.twitter_username %}
                
                  {% include icon-twitter.html username=site.twitter_username %}
                
                {% endif %}
                </li>
              </ul>
          </div>
        </div>
      </div>

</footer>