<div class="row">
    <div class="col-md-6">
    <a href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ site.url }}{{ post.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter" class="btn btn-sm btn-info">
            <i class="fa fa-twitter"></i> Tweet
    </a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="btn btn-sm btn-primary">
            <i class="fa fa-facebook"></i> Share
    </a>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Share on Google+" class="btn btn-sm btn-danger">
            <i class="fa fa-google-plus"></i> Share
    </a>
    </div>
</div>