      <!-- side bar start-->

        <div class="card">
          <div class="card-header">
              Profile
          </div>
          <div class="card-block">
            <div class="d-flex align-items-end">
              <img class="rounded profile-img" src="{{site.twitter_image}}" alt="Twitter-icon">
              <h6 class="card-title ">
                名前: Smashcat
              </h6>
            </div>
            <p class="card-text">
            独学でWebデザインを勉強中。最近IoTの組み込み等も勉強してます。
            </p>
            {% include follow.html %}
          </div>
        </div>
    
      <!-- side bar end -->