html{
    height: 100%;
}

body{
    min-height:100%;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #000000;
  color: #FFFFFF;
  
}
body > .container {
  padding: 150px 15px 0;
  
}
.container .text-muted {
  margin: 20px 0;
}
 
.footer > .container {
 margin-top:20px;
  background-color: #000000;
}