.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: white;
  
  &_title {
    font-family: 'Indie Flower', sans-serif;
    font-size: 2rem;
  }

  &_substitle {
    font-size: 2rem;
  }
}