---
---
    .bg-lightgray { background: #F1F1F1;}
    .bg-white { background: #FFFFFF;}
    .bg-darkgray { background: #4D4D4D;}
    
    .footer {
        padding: 30px 0;
        color: white;
}

    .content {
        padding: 30px;
    }
