---
---
  .bg-default { background: #F5F8F9;}
    
  //layout
  .footer {
    padding: 15px 0 15px;
    color: white;
    background: #4d4d4d;
  }
  .footer-copyright{
    padding: 3px 0 3px ;
    color: white;
    background: #000;
  }
  
  .footer-copyright p {
    padding: 0;
    margin: 0;
  }
  
  .content {
    padding: 36px;
  }
  
  .card-img {
    height: 300px;
  }
  
  .profile-img{
    width: 64px;
    height: 64px;
  }
  
  
  //fonts
  .wf-nicomoji { font-family: "Nico Moji"; }
  .wf-sawarabigothic { font-family: "Sawarabi Gothic"; }
  
  //social-media
.social-media{
  list-style-type: none;
  padding: 0px;
}

.social-media li{
  display: inline-block;
}

.social-media li .fa{ 
  background: #5d5d5d;
  color: #262626;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align:center;
  line-height:50px;
}

.social-media .fa.fa-twitter:hover{
  background:#2aaae0;
  color:#fff;
}

.social-media .fa.fa-github-alt:hover{
  background:#800080;
  color:#fff;
}

.social-media .fa.fa-rss:hover{
  background:#ee8533;
  color:#fff;
}

.social-media .fa.fa-codepen:hover{
  background:#888;
  color:#fff;
}
