---
---
  .bg-default { background: #F5F8F9;}
    
  //layout
  .footer {
    padding: 15px 0 15px;
    color: white;
    background: #4d4d4d;
  }
  .footer-copyright{
    padding: 3px 0 3px ;
    color: white;
    background: #000;
  }
  
  .footer-copyright p {
    padding: 0;
    margin: 0;
  }
  
  .content {
    padding: 36px;
  }
  
  .card-img {
    height: 300px;
  }
  
  .profile-img{
    width: 64px;
    height: 64px;
  }
  
  
  //fonts
  .wf-nicomoji { font-family: "Nico Moji"; }
  .wf-sawarabigothic { font-family: "Sawarabi Gothic"; }
  