---
layout: default
type: archive
---

<div class="home">
    {% for post in site.categories[page.category] %}
      <div class="card">
        {% if forloop.first == true %}
          <div class="card-header">
            Category: {{ page.category }} 
          </div>
        {% endif %}
        {% if post.image %}
          <img class="card-img-top card-img" src="{{post.image}}" alt="Card image cap">
        {% endif %}
        <div class="card-block">
          <h4 class="card-title">
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ post.date | date: "%b %-d, %Y" }}
          </h6>
          <p><span class="text-muted">Categories:</span> {% include post-categories.html %}</p>
          <hr>
        <p class="card-text ">{{ post.content }}</p>
        <hr>
        {% include share-home.html %}
      </div>
      </div>
        <br>
        {% endfor %}
        <br>
</div>