<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "jp" }}">

  {% include head.html %}

  <body class="bg-default">

    {% include header.html %}

    <main class="content container" aria-label="Content">
      <div class="row">
        <div class="col-lg-8">
          {{ content }}
        </div>
        <div class="col-lg-4">
          {% include sidebar.html %}
        </div>
      </div>
    </main>
    
    {% include footer.html %}
    {% include google-analytics.html %}
    {% include bscore.html %}
    
  </body>

</html>