---
layout: default
---

<div class="home">
  <h1 class="page-heading">Posts</h1>
  {% for post in site.posts %}
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: "%b %-d, %Y" }}</h6>
        <hr>
        <p class="card-text">{{ post.content }}</p>
        <hr>
        {% include share-home.html %}
      </div>
    </div>
    <br>
  {% endfor %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>