---
layout: default
---

<div class="home">
    {% for post in paginator.posts %}
      <div class="card">
        {% if post.image %}
          <img class="card-img-top card-img" src="{{post.image}}" alt="Card image cap">
        {% endif %}
        <div class="card-block">
          <h4 class="card-title">
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ post.date | date: "%b %-d, %Y" }}
          </h6>
          <p><span class="text-muted">Categories:</span> {% include post-categories.html %}</p>
          <hr>
        <p class="card-text ">{{ post.content }}</p>
        <hr>
        {% include share-home.html %}
      </div>
      </div>
        <br>
        {% endfor %}
          <!-- Pagination links -->
          <div class="row">
              <div class="col-3 text-left">
              {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">&laquo;Previous</a>
              {% else %}
                <span class="previous">Previous</span>
              {% endif %}
              </div>
              <div class="col-6 text-center">
               <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
              </div>              
              <div class="col-3  text-right">
              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Next&raquo;</a>
              {% else %}
                <span class="next ">Next</span>
              {% endif %}
          </div>
        </div>
        <br>
</div>