---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">


  



  <div class="card">
  <div class="card-block">
    <h4 class="card-title"><a href="{{ post.url | relative_url }}">{{ page.title | escape }}</a></h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ page.date | date: "%b %-d, %Y" }}</h6>
    <hr>
    <p class="card-text">{{ content }}</p>
    <hr>
    {% include share-post.html %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>